!!! 5
%html
  %head
    %title
      Depot — 
      = yield :title 
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %h1
        = link_to "Depot", "/"
        —
        = yield :title 
      %nav
        %ul
          %li= link_to "Home", "/"
          %li= link_to "Cart", cart_path
          %li= link_to "Login", login_path
          %li= link_to "Register", register_path
    - if notice
      %div
        %strong#notice= notice
    = yield
