!!! 5
%html
  %head
    %title= yield :title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      -# hgroup is my least favorite html5 element ;_;
      %hgroup 
        %h1= link_to "Gamez", root_path
        %h2= yield :subtitle
      %nav
        %ul
          - if user_signed_in?
            %li
              = "Logged in as #{current_user.role}" # I think this is what keeps hitting the database
              = link_to current_user, members_me_path
            - if current_user.admin?
              %li= link_to 'Admin', admin_root_path
            - else
              %li= link_to 'My Games', members_path
            %li= link_to 'Logout', destroy_user_session_path, method: :delete
          - else
            %li= link_to "Log In", new_user_session_path
            %li= link_to "Register", new_user_registration_path

    -if notice
      %p#notice
        %strong= notice
    -if alert
      %p#errors
        %strong= alert

    - if user_signed_in? and current_user.admin?
      %ul#admin_menu
        %li= link_to 'Games', admin_root_path
        %li= link_to 'Users', admin_users_path
        %li= link_to 'Roles', admin_roles_path

    =yield

