- title "Games"
- subtitle "my tastes > your tastes"

%nav= will_paginate @games

%table#games
  %caption= "#{pluralize Game.count, "game"} total."
  %thead
    %tr
      %th Title
      %th Rating
      %th Date Added
  %tbody
    =content_tag_for :tr, @games do |game|
      %td= game.title
      %td= game.rating or "Unrated"
      %td= "#{game.created_at.strftime "%b %-d, %Y"} by #{game.user == current_user ? "me" : game.user}"

