= content_tag_for :article, product do
  %h1= product.title
  = image_tag product.image_url
  .description!= product.description
  .price= number_to_currency product.price
  = button_to 'Add to Cart', add_to_cart_path( product_id: product ), remote: true
