%article.product
  %h1= product.title
  = image_tag product.image_url
  .description!= product.description
  .price= number_to_currency product.price
  = button_to 'Add to Cart', line_items_path( product_id: product )
