!!! 5
%html
  %head
    %title= yield :title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      -# hgroup is my least favorite html5 element ;_;
      %hgroup 
        %h1= link_to "Articl.es", root_path
        %h2= yield :subtitle
      %nav
        %ul
          %li= link_to "Articles", articles_path
          %li= link_to "Authors", authors_path

    -if notice
      %p#notice
        %strong= notice

    =yield

