= content_tag_for :tr, order do
  %td= order.name
  %td= order.address
  %td= order.email
  %td= order.pay_type
  %td
    =link_to "Show", order
    =link_to "Edit", order, action: :edit
    =link_to "Destroy" , order, method: :delete, confirm: "Are you sure?"
