= content_tag_for :tr, line_item do
  %td= line_item.product.title
  %td.currency= number_to_currency line_item.product.price
  %td.quantity= line_item.quantity
  %td.currency= number_to_currency line_item.total_price
