- title "All Articles"
- subtitle "...with a name .com hipsters love!"
%section#articles
  %h1 All the World's Articles
  = link_to "Create an Article", new_article_path, title: "Merge your knowledge into the overmind!", id: "create-link"
  %nav= will_paginate @articles
  %table#articles
    %caption= "#{pluralize Article.count, "article"} total."
    %thead
      %tr
        %th Title
        %th Author Name
        %th Body
        %th Creation Date
        %th Actions
    %tbody= render partial: 'article_row', collection: @articles
  %nav= will_paginate @articles
